{% extends "layouts/default.njk" %}

{% block content %}
  <div class="container">
    <div class="header">
      <img src="images/logo.png" class="header__logo" />
      <div class="header__info">
        <div class="header__info-title">Jeffrey Qua</div>
        <div class="header__info-subtitle">Design + Development</div>
      </div>
    </div>

    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" href="./">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about.html">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>


    <section class="section__container">
      <h1 class="section__title">About</h1>
      <p>I build and design experiences.</p>

      <p>I’m a designer, developer, videographer. My passion is to create immersive experiences using digital mediums. My background in computer science and interaction design gives me a flexibility in being able to fill in any skill gaps in any type of creative team.</p>

      <h2 class="section__subtitle">Development</h2>
      <p>I have worked in a variety of different development environments from HTML, CSS, JavaScript, PHP, MySQL, Angular, React, Rails, and also to more traditional objective-oriented languages such as C++ and Java.</p>

      <h2 class="section__subtitle">Design</h2>
      <p>My design experience has made me proficient with the Adobe Suite such as photo editing with Photoshop and Lightroom and vector-based tools like Illustrator. Most of my interface work nowadays is using Sketch. I am also proficient in small scale video production and edit using Premiere and audio editing such as Audacity. I have previous experience in a variety of 3D modelling programs as well such as Cinema4d, 3DS Max, and SolidWorks.</p>

      <h2 class="section__subtitle">More</h2>
      <p>If you want to explore a bit more of my previous projects, these are older versions of my portfolio:
      </p>
      <ul class="portfolio-links__list">
        <li><a href="http://www.jeffreyqua.com">2015</a></li>
        <li><a href="http://www.lostclouds.com">2007</a></li>
      </ul>
    </section>

    {% include "layouts/partials/footer.njk" %}
  </div>
{% endblock %}
