{% extends "layouts/default.njk" %}

{% block content %}
  <div class="container">
    {% include "layouts/partials/header.njk" %}

    {% import "layouts/macros/nav-macro.njk" as nav %}
    {{nav.active('about')}}

    <section class="section__container">
      <h1 class="section__title">About</h1>
      <p>I want to work on designing compelling experiences by pushing technological boundaries with engaging narratives. My expertise is to be a bridge between design and engineering.</p>

      <p>My background in computer science and interaction design gives me the flexibility to fill in any skill gaps in any team. Designer. Developer. Photographer. Videographer. I love challenges and actively embrace them to fuel my drive to learn.</p>

      <h2 class="section__subtitle">Development</h2>
      <p>I have worked in many different development environments with a heavy focus on web using HTML, CSS, JavaScript, PHP, MySQL. I have also used frameworks such as Angular, React, and Rails. Not as recently, but I have also used objective-oriented languages such as C++ and Java.</p>

      <h2 class="section__subtitle">Design</h2>
      <p>My experience has made me proficient with the Adobe Suite: Photoshop, Lightroom, Illustrator, and Premiere. Most of my interface work is primarily in Sketch.</p>

      <p>I am also comfortable doing small scale video production. Previous experience in a variety of 3D modelling programs such as Cinema4d, and SolidWorks. Dabbled in hardware technologies like Arduino.</p>

      <h2 class="section__subtitle">Older Portfolios</h2>
      <p>Explore more of my previous projects:
      </p>
      <ul class="portfolio-links__list">
        <li><a href="http://2013.jeffreyqua.com">2013</a></li>
        <li><a href="http://www.lostclouds.com">2007</a></li>
      </ul>
    </section>

  </div>
  {% include "layouts/partials/footer.njk" %}
{% endblock %}
