{% extends "layouts/default.njk" %}

{% block content %}
  <div class="container">
    {% include "layouts/partials/header.njk" %}

    {% import "layouts/macros/nav-macro.njk" as nav %}
    {{nav.active('contact')}}

    <section class="section__container">
      <h1 class="section__title">Contact</h1>
      <p>Feel free to say hi if you want to talk about design and development or if you just want to chat. View my <a href="">resume</a>.</p>
      <p>Find me on LinkedIn <a href="https://www.linkedin.com/in/jeffreyqua/">in/jeffreyqua</a>.
      <p>Tweet me <a href="https://twitter.com/jeffreyqua">@jeffreyqua</a>.</p>

    </section>

    {% include "layouts/partials/footer.njk" %}
  </div>
{% endblock %}
