{% extends "layouts/default.njk" %}

{% block content %}
  <div class="container">
    {% include "layouts/partials/header.njk" %}

    {% import "layouts/macros/nav-macro.njk" as nav %}
    {{nav.active('')}}

    <section class="section__container">
      <h1 class="project__title">Glassbreakers</h1>
      <h2 class="project__subtitle">Design Infrastructure</h2>
      <section class="project__info">
        <div class="project__info-module">
          <div class="project__info-title">Expertise</div>
          <ul class="project__info-list">
            <li class="project__info-item">Front-end HTML</li>
            <li class="project__info-item">CSS Architecture</li>
            <li class="project__info-item">SVG implementation</li>
          </ul>
        </div>
        <div class="project__info-module">
          <div class="project__info-title">Links</div>
          <ul class="project__info-list">
            <li class="project__info-item"><a class="project__link" href="https://www.glassbreakers.co/">Glassbreakers</a></li>
            <li class="project__info-item"><a class="project__link" href="https://s3.amazonaws.com/jeffreyqua/gb_brand.pdf">Brand and tone guide</a></li>
            <li class="project__info-item"><a class="project__link" href="https://www.glassbreakers.co/style_guide">Style guide</a></li>
          </ul>
        </div>
      </section>

      <figure class="project__image-container">
        <img src="images/projects/gb-buttons.jpg" class="project__image" alt="Style guide - buttons" />
        <figcaption class="project__image-caption">Style guide - Buttons</figcaption>
      </figure>

      <section class="project__block">
        <h3 class="project__block-title">Objective</h3>
        <p>When I joined Glassbreakers, there wasn’t a clear organization of a front-end style guide or code framework. Style definitions, color, and typographical classes consisted of numerous one-off instances. Visual assets were inconsistenly sized, and had multiple versions for a responsive approach.</p>

        <p>The code was turning into spaghetti with many similar class definitions with slight variations. The front-end code needed to be organized, codified, and systematic.</p>
      </section>

      <figure class="project__image-container">
        <img src="images/projects/gb-icons.jpg" class="project__image" alt="Icon Reference List" />
        <figcaption class="project__image-caption">Icon Reference List</figcaption>
      </figure>

      <section class="project__block">
        <h3 class="project__block-title">Approach</h3>
        <p>The first step to organize the front-end code was to establish a CSS styling framework using a combination of OOCSS, SMACSS, and BEM. To achieve visual crispness and consistency, we opted to convert all icon assets into vector.</p>

        <p>Our SCSS files were organized to have variables to reduce multiple definitions for colors and typographic variations. Implementing SVG had the advantage of pixel density control as well as the ability to standardize size and color patterns.</p>
      </section>

      <figure class="project__image-container">
        <img src="images/projects/gb-icon-classes.jpg" class="project__image" alt="Mobile website" />
        <figcaption class="project__image-caption">Icon Classes</figcaption>
      </figure>

      <section class="project__block">
        <h3 class="project__block-title">Process</h3>
        <p>The CSS classes were rewritten, and simplified into a repeatable pattern for the engineering team to build upon. Instructions and reference were implemented in the living code <a href="">style guide</a>.</p>

        <p>Icons and UI elements were defined with modifier classes were defined so that the engineering team only had to look up class presets without needing to redefine them in every instance.</p>
      </section>

      <figure class="project__image-container">
        <img src="images/projects/gb-icon-class.jpg" class="project__image" alt="Icon Implementation Code" />
        <figcaption class="project__image-caption">Icon Implementation Code</figcaption>
      </figure>

      <figure class="project__image-container">
        <img src="images/projects/gb-1.jpg" class="project__image" alt="Glassbreakers - Colors" />
        <figcaption class="project__image-caption">Glassbreakers - Colors</figcaption>
      </figure>

      <section class="project-nav">
        <div class="project-nav__prev">
          <a href="audi.html" class="project-nav__link">&lt; Previous Project</a>
        </div>
        <div class="project-nav__next">
          <a href="gb-brand.html" class="project-nav__link">Next Project &gt;</a>
        </div>
      </section>
    </section>
  </div>
  {% include "layouts/partials/footer.njk" %}
{% endblock %}
