{% extends "layouts/default.njk" %}

{% block content %}
  <div class="container">
    {% include "layouts/partials/header.njk" %}

    {% import "layouts/macros/nav-macro.njk" as nav %}
    {{nav.active('')}}

    <section class="section__container">
      <h1 class="project__title">Glassbreakers</h1>
      <h2 class="project__subtitle">Visual / UX</h2>
      <section class="project__info">
        <div class="project__info-module">
          <div class="project__info-title">Expertise</div>
          <ul class="project__info-list">
            <li class="project__info-item">Visual / UX Design</li>
            <li class="project__info-item">Art Direction</li>
            <li class="project__info-item">Brand Strategy</li>
          </ul>
        </div>
        <div class="project__info-module">
          <div class="project__info-title">Links</div>
          <ul class="project__info-list">
            <li class="project__info-item"><a href="https://s3.amazonaws.com/jeffreyqua/gb_brand.pdf">Brand guidelines and tone guide</a></li>
            <li class="project__info-item"><a href="https://www.glassbreakers.co/style_guide">Style Guide</a></li>
          </ul>
        </div>
      </section>

      <section class="project__block">
        <h3 class="project__block-title">Objective</h3>
        <p>As the only designer on the team, it was my responsibility to create any visual assets, icons, and UX mockups. My challenge was to create a language to have a consistent brand voice and tone.</p>

        <p>The Glassbreakers platform has changed over the years and the name was getting confusing for people who knew the company about the older product.</p>
      </section>

      <figure class="project__image-container">
        <img src="images/projects/gb-2.jpg" class="project__image" alt="Symbol and Wordmark" />
        <figcaption class="project__image-caption">Symbol and Wordmark</figcaption>
      </figure>

      <section class="project__block">
        <h3 class="project__block-title">Approach</h3>
        <p>In order to communicate design rationale on features, I had to create technical and design documentation to explain specific technical implementation and usability requirements.</p>

        <p>In addition to keeping the engineering team on the same page for implementation, we also needed to create consistency across our other channels especially for language in marketing, emails, and the product voice. One strategy we used for creating a more empathic voice for our platform was to create Hippy, a friendly hippo, as our support persona.</p>
      </section>

      <figure class="project__image-container">
        <img src="images/projects/gb-3.jpg" class="project__image" alt="The Glassbreakers mascot, Hippy" />
        <figcaption class="project__image-caption">The Glassbreakers mascot, Hippy</figcaption>
      </figure>

      <section class="project__block">
        <h3 class="project__block-title">Process</h3>
        <p>The <a href="https://www.glassbreakers.co/style_guide">style guide</a> was the first step to create a common language between design and engineering. I developed brand guidelines as well as a voice and tone guide to help shape how we talked to our users. </p>

        <p>There was a project where we thought about a product rebranding strategy (to Forest) to help users discern the current platform from our existing social media presence. This constituted a logo and name rebrand, a revised color scheme, and a change in the product language.</p>
      </section>

      <figure class="project__image-container">
        <img src="images/projects/gb-forest.jpg" class="project__image" alt="Forest rebrand" />
        <figcaption class="project__image-caption">Forest rebrand</figcaption>
      </figure>

      <figure class="project__image-container">
        <img src="images/projects/gb-metrics.jpg" class="project__image" alt="GB Metrics" />
        <figcaption class="project__image-caption">GB Metrics</figcaption>
      </figure>

      <figure class="project__image-container">
        <img src="images/projects/gb-messaging.jpg" class="project__image" alt="GB Messaging" />
        <figcaption class="project__image-caption">GB Messaging</figcaption>
      </figure>

      <figure class="project__image-container">
        <img src="images/projects/gb-profile.jpg" class="project__image" alt="GB Profile" />
        <figcaption class="project__image-caption">GB Profile</figcaption>
      </figure>

      <figure class="project__image-container">
        <img src="images/projects/gb-report.jpg" class="project__image" alt="GB Profile" />
        <figcaption class="project__image-caption">GB Profile</figcaption>
      </figure>

    </section>

    {% include "layouts/partials/footer.njk" %}
  </div>
{% endblock %}
