{% extends "layouts/default.njk" %}

{% block content %}
  <div class="container">
    {% include "layouts/partials/header.njk" %}

    {% import "layouts/macros/nav-macro.njk" as nav %}
    {{nav.active('')}}

    <section class="section__container">
      <h1 class="project__title">Glassbreakers</h1>
      <h2 class="project__subtitle">Brand / UX</h2>
      <section class="project__info">
        <div class="project__info-module">
          <div class="project__info-title">Expertise</div>
          <ul class="project__info-list">
            <li class="project__info-item">Visual / UX Design</li>
            <li class="project__info-item">Art Direction</li>
            <li class="project__info-item">Brand Strategy</li>
          </ul>
        </div>
        <div class="project__info-module">
          <div class="project__info-title">Links</div>
          <ul class="project__info-list">
            <li class="project__info-item"><a href="">Tone and voice guide</a></li>
            <li class="project__info-item"><a href="">Style guide</a></li>
          </ul>
        </div>
      </section>

      <section class="project__block">
        <h3 class="project__block-title">Objective</h3>
        <p>As the only designer on the team, it was my responsibility to create any visual assets, icons, and UX mockups. My challenge was to create a language to have a consistent brand voice and tone.</p>

        <p>The Glassbreakers platform has changed over the years and the name was getting confusing for people who knew the company about the older product.</p>
      </section>

      <section class="project__block">
        <h3 class="project__block-title">Approach</h3>
        <p></p>

        <p>In order to communicate design rationale on features, I had to create technical/design documentation to explain specific technical implementation requirements.</p>
      </section>


      <section class="project__block">
        <h3 class="project__block-title">Process</h3>
        <p>The <a href="">style guide</a> was the first step to create a common language between design and engineering. For the voice of the product and marketing, we also created a tone and voice guide.</p>

        <p>As a potential refresh, we thought about rebranding the product as Forest. This constituted a logo and name rebrand, a revised color scheme, and a change in the language to reflect the idea of being in the outdoors and how each relationship developed on the platform as a metaphor for trees growing in a forest.</p>
      </section>

    </section>

    {% include "layouts/partials/footer.njk" %}
  </div>
{% endblock %}
