{% extends "layouts/default.njk" %}

{% block content %}
  <div class="container">
    {% include "layouts/partials/header.njk" %}

    {% import "layouts/macros/nav-macro.njk" as nav %}
    {{nav.active('home')}}

    <ul class="projects-list">
      <li class="projects-list__item">
        <a href="gb.html" class="projects-list__project-link">
          <div class="projects-list__project">
            <div class="projects-list__project-image-container">
              <img src="/images/project-thumbnails/gb.jpg" alt="Glassbreakers" class="projects-list__project-image" />
            </div>
            <div class="projects-list__project-info">
              <div class="projects-list__project-title">Glassbreakers</div>
              <div class="projects-list__project-subtitle">Design Infrastructure</div>
            </div>
          </div>
        </a>
      </li>

      <li class="projects-list__item">
        <a href="gb-brand.html" class="projects-list__project-link">
          <div class="projects-list__project">
            <div class="projects-list__project-image-container">
              <img src="/images/project-thumbnails/gb2.jpg" alt="Glassbreakers / Visual" class="projects-list__project-image" />
            </div>
            <div class="projects-list__project-info">
              <div class="projects-list__project-title">Glassbreakers</div>
              <div class="projects-list__project-subtitle">Visual / Brand</div>
            </div>
          </div>
        </a>
      </li>

      <li class="projects-list__item">
        <a href="gb-ux.html" class="projects-list__project-link">
          <div class="projects-list__project">
            <div class="projects-list__project-image-container">
              <img src="/images/project-thumbnails/gb-ux.jpg" alt="Glassbreakers / UX" class="projects-list__project-image" />
            </div>
            <div class="projects-list__project-info">
              <div class="projects-list__project-title">Glassbreakers</div>
              <div class="projects-list__project-subtitle">UX / UI</div>
            </div>
          </div>
        </a>
      </li>

      <li class="projects-list__item">
        <a href="centerpoint.html" class="projects-list__project-link">
          <div class="projects-list__project">
            <div class="projects-list__project-image-container">
              <img src="/images/project-thumbnails/centerpoint.jpg" alt="Centerpoint" class="projects-list__project-image" />
            </div>
            <div class="projects-list__project-info">
              <div class="projects-list__project-title">Centerpoint</div>
              <div class="projects-list__project-subtitle">Interactive Prototype</div>
            </div>
          </div>
        </a>
      </li>

      <li class="projects-list__item">
        <a href="shield.html" class="projects-list__project-link">
          <div class="projects-list__project">
            <div class="projects-list__project-image-container">
              <img src="/images/project-thumbnails/shield.jpg" alt="Made to Game" class="projects-list__project-image" />
            </div>
            <div class="projects-list__project-info">
              <div class="projects-list__project-title">Nvidia SHIELD</div>
              <div class="projects-list__project-subtitle">Front-end Development</div>
            </div>
          </div>
        </a>
      </li>

      <li class="projects-list__item">
        <a href="levis.html" class="projects-list__project-link">
          <div class="projects-list__project">
            <div class="projects-list__project-image-container">
              <img src="/images/project-thumbnails/lil.jpg" alt="Live In Levis" class="projects-list__project-image" />
            </div>
            <div class="projects-list__project-info">
              <div class="projects-list__project-title">Live In Levis</div>
              <div class="projects-list__project-subtitle">Front-end Development</div>
            </div>
          </div>
        </a>
      </li>

      <li class="projects-list__item">
        <a href="audi.html" class="projects-list__project-link">
          <div class="projects-list__project">
            <div class="projects-list__project-image-container">
              <img src="/images/project-thumbnails/audi.jpg" alt="Glassbreakers / Brand" class="projects-list__project-image" />
            </div>
            <div class="projects-list__project-info">
              <div class="projects-list__project-title">Audi Mobile Site Concept</div>
              <div class="projects-list__project-subtitle">Interactive Prototype</div>
            </div>
          </div>
        </a>
      </li>
    </ul>

    {% include "layouts/partials/footer.njk" %}
  </div>
{% endblock %}
