{% macro active(activePage='home') %}
<nav>
  <!-- Repeat for about and contact -->
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link{%if activePage == 'home' %} active {% endif %}" href="/">Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link{%if activePage == 'about' %} active {% endif %}" href="about.html">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link{%if activePage == 'contact' %} active {% endif %}" href="contact.html">Contact</a>
    </li>
  </ul>
</nav>


{% endmacro %}
