<footer class="footer">
  <ul class="footer__links">
    <li class="footer__link-item"><a href="" class="footer__link">Resume</a></li>
    <li class="footer__link-item"><a href="" class="footer__link">LinkedIn</a></li>
    <li class="footer__link-item"><a href="" class="footer__link">Twitter</a></li>
  </ul>
  <div class="footer__info">Jeffrey Qua 2018</div>
</footer>
